{
  "env": {
    "node": true
  },
  "extends": [
    "./preset-es6.js"
  ],
  "rules": {
    "quote-props": [
      "error",
      "consistent"
    ],
    "no-magic-numbers": "off"
  },
  "ignorePatterns": [
    "preset-*.js",
    "plugin-*.js"
  ]
}
