{
  "env": {
    "node": true
  },
  "extends": [
    "./src/configurations/presets/es6.js"
  ],
  "rules": {
    "quote-props": [
      "error",
      "consistent"
    ],
    "no-magic-numbers": "off"
  }
}
